USE [ShopChoMeo]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 09/21/2019 11:46:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNhanVien] [nchar](10) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[CMND] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[SDT] [nvarchar](50) NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[NhanVien] ([MaNhanVien], [HoTen], [CMND], [DiaChi], [SDT]) VALUES (N'NV00      ', N'Hoàng Văn Thùy', N'Tam Kỳ - Quảng Nôm', N'206067914', N'0977583016')
INSERT [dbo].[NhanVien] ([MaNhanVien], [HoTen], [CMND], [DiaChi], [SDT]) VALUES (N'NV01      ', N'Lý Vĩnh Cương', N'Tam Vinh', N'203588864', N'0977584628')
INSERT [dbo].[NhanVien] ([MaNhanVien], [HoTen], [CMND], [DiaChi], [SDT]) VALUES (N'NV02      ', N'Hoàng Hải Lý', N'Đài Châu - Quảng Đốc- An Nam', N'201385566', N'01644758355')
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 09/21/2019 11:46:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNhaCungCap] [nchar](10) NOT NULL,
	[TenNhaCungCap] [nvarchar](100) NOT NULL,
	[DiaChi] [nvarchar](100) NOT NULL,
	[LienHe] [nvarchar](100) NOT NULL,
	[SoTaiKhoan] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_NhaCungCap] PRIMARY KEY CLUSTERED 
(
	[MaNhaCungCap] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[NhaCungCap] ([MaNhaCungCap], [TenNhaCungCap], [DiaChi], [LienHe], [SoTaiKhoan]) VALUES (N'NCC0000   ', N'Trại chó TRẦN DANH', N'Ngã Tư Tân Quy,H. Củ Chi, TPHCM', N'0966.2525.13', N'0044 1923 0008')
INSERT [dbo].[NhaCungCap] ([MaNhaCungCap], [TenNhaCungCap], [DiaChi], [LienHe], [SoTaiKhoan]) VALUES (N'NCC0001   ', N'Fusion Group', N'An Khánh - Hoài Đức - Hà Nội', N'094.686.5620', N'711A 987654321')
INSERT [dbo].[NhaCungCap] ([MaNhaCungCap], [TenNhaCungCap], [DiaChi], [LienHe], [SoTaiKhoan]) VALUES (N'NCC0002   ', N'J&Pet', N'Villa D31 The Manor, Mễ Trì, Từ Liêm, Hà Nội', N'0944.555.881', N'0531 0022 2300 8')
/****** Object:  Table [dbo].[KhachHang]    Script Date: 09/21/2019 11:46:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKhachHang] [nchar](10) NOT NULL,
	[LienHe] [nvarchar](100) NULL,
	[TenDonVi] [nvarchar](100) NULL,
	[TheThanhVien] [nvarchar](50) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[KhachHang] ([MaKhachHang], [LienHe], [TenDonVi], [TheThanhVien]) VALUES (N'KH000     ', N'Không có', N'Khách vãng lai', N'Thành viên')
INSERT [dbo].[KhachHang] ([MaKhachHang], [LienHe], [TenDonVi], [TheThanhVien]) VALUES (N'KH001     ', N'0166758254', N'Hoàng Phi Hồng', N'Thành viên')
INSERT [dbo].[KhachHang] ([MaKhachHang], [LienHe], [TenDonVi], [TheThanhVien]) VALUES (N'KH002     ', N'0167589245', N'Lý Liên Kiệt', N'Thành viên')
/****** Object:  Table [dbo].[HinhNen]    Script Date: 09/21/2019 11:46:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HinhNen](
	[TenHinh] [nchar](10) NOT NULL,
	[HinhAnh] [image] NOT NULL,
 CONSTRAINT [PK_HinhNen] PRIMARY KEY CLUSTERED 
(
	[TenHinh] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DangNhap]    Script Date: 09/21/2019 11:46:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangNhap](
	[TenDangNhap] [nchar](30) NOT NULL,
	[MatKhau] [nchar](30) NOT NULL,
	[LoaiTaiKhoan] [nchar](10) NOT NULL,
 CONSTRAINT [PK_DangNhap] PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DangNhap] ([TenDangNhap], [MatKhau], [LoaiTaiKhoan]) VALUES (N'Admin                         ', N'1                             ', N'Admin     ')
INSERT [dbo].[DangNhap] ([TenDangNhap], [MatKhau], [LoaiTaiKhoan]) VALUES (N'T                             ', N'2                             ', N'Nhân viên ')
INSERT [dbo].[DangNhap] ([TenDangNhap], [MatKhau], [LoaiTaiKhoan]) VALUES (N'Thuy                          ', N'2                             ', N'Nhân viên ')
/****** Object:  Table [dbo].[ChuongKyGoi]    Script Date: 09/21/2019 11:46:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuongKyGoi](
	[MaChuong] [nchar](10) NOT NULL,
	[TenChuong] [nchar](10) NOT NULL,
	[TrangThai] [int] NOT NULL,
 CONSTRAINT [PK_KyGoi] PRIMARY KEY CLUSTERED 
(
	[MaChuong] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChuongKyGoi] ([MaChuong], [TenChuong], [TrangThai]) VALUES (N'CHUONG01  ', N'Chuồng 01 ', 1)
INSERT [dbo].[ChuongKyGoi] ([MaChuong], [TenChuong], [TrangThai]) VALUES (N'CHUONG02  ', N'Chuồng 02 ', 0)
INSERT [dbo].[ChuongKyGoi] ([MaChuong], [TenChuong], [TrangThai]) VALUES (N'CHUONG03  ', N'Chuồng 03 ', 0)
/****** Object:  Table [dbo].[ChamCong]    Script Date: 09/21/2019 11:46:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChamCong](
	[MaChamCong] [nchar](10) NOT NULL,
	[MaNhanVien] [nchar](10) NOT NULL,
	[TenNhanVien] [nvarchar](50) NOT NULL,
	[Thang] [nchar](10) NOT NULL,
	[Nam] [nchar](10) NOT NULL,
	[TangCa] [int] NOT NULL,
	[NghiLam] [int] NOT NULL,
	[LuongCung] [float] NOT NULL,
	[LuongNhan] [float] NOT NULL,
	[TienThuong] [float] NULL,
	[TienPhat] [float] NULL,
 CONSTRAINT [PK_ChamCong] PRIMARY KEY CLUSTERED 
(
	[MaChamCong] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChamCong] ([MaChamCong], [MaNhanVien], [TenNhanVien], [Thang], [Nam], [TangCa], [NghiLam], [LuongCung], [LuongNhan], [TienThuong], [TienPhat]) VALUES (N'LNV0      ', N'NV01      ', N'Lý Vinh Cuong', N'12        ', N'2017      ', 2, 0, 1500000, 1650000, 200000, 50000)
INSERT [dbo].[ChamCong] ([MaChamCong], [MaNhanVien], [TenNhanVien], [Thang], [Nam], [TangCa], [NghiLam], [LuongCung], [LuongNhan], [TienThuong], [TienPhat]) VALUES (N'LNV1      ', N'NV01      ', N'Lý Vĩnh Cương', N'12        ', N'2017      ', 2, 4, 1000000, 1010000, 20000, 10000)
INSERT [dbo].[ChamCong] ([MaChamCong], [MaNhanVien], [TenNhanVien], [Thang], [Nam], [TangCa], [NghiLam], [LuongCung], [LuongNhan], [TienThuong], [TienPhat]) VALUES (N'LNV2      ', N'NV00      ', N'Hoàng Văn Thùy', N'10        ', N'2017      ', 2, 1, 1500000, 1530000, 50000, 20000)
/****** Object:  Table [dbo].[BanHangCombo]    Script Date: 09/21/2019 11:46:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BanHangCombo](
	[MaBanHang] [nchar](10) NOT NULL,
	[NgayBanHang] [date] NOT NULL,
	[MaKhachHang] [nchar](10) NOT NULL,
	[MaNhanVien] [nchar](10) NOT NULL,
 CONSTRAINT [PK_BanHangCombo] PRIMARY KEY CLUSTERED 
(
	[MaBanHang] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BanHangCombo] ([MaBanHang], [NgayBanHang], [MaKhachHang], [MaNhanVien]) VALUES (N'PMH0000   ', CAST(0xA33D0B00 AS Date), N'KH000     ', N'NV00      ')
INSERT [dbo].[BanHangCombo] ([MaBanHang], [NgayBanHang], [MaKhachHang], [MaNhanVien]) VALUES (N'PMH0001   ', CAST(0xA33D0B00 AS Date), N'KH000     ', N'NV00      ')
INSERT [dbo].[BanHangCombo] ([MaBanHang], [NgayBanHang], [MaKhachHang], [MaNhanVien]) VALUES (N'PMH0002   ', CAST(0xA53D0B00 AS Date), N'KH013     ', N'NV00      ')
/****** Object:  Table [dbo].[ThongTinKyGoi]    Script Date: 09/21/2019 11:46:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongTinKyGoi](
	[MaThongTinKyGui] [nchar](10) NOT NULL,
	[TenChu] [nvarchar](50) NOT NULL,
	[LienHe] [nvarchar](100) NOT NULL,
	[CMND] [nvarchar](50) NOT NULL,
	[TenThuCung] [nvarchar](50) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[NgayGoi] [date] NOT NULL,
	[NgayTra] [date] NOT NULL,
	[GiaComBo] [nchar](10) NOT NULL,
	[MaNhanVien] [nchar](10) NOT NULL,
	[TenChuong] [nchar](10) NOT NULL,
	[GiayTo] [nvarchar](100) NULL,
 CONSTRAINT [PK_ThongTinKyGoi] PRIMARY KEY CLUSTERED 
(
	[MaThongTinKyGui] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ThongTinKyGoi] ([MaThongTinKyGui], [TenChu], [LienHe], [CMND], [TenThuCung], [SoLuong], [NgayGoi], [NgayTra], [GiaComBo], [MaNhanVien], [TenChuong], [GiayTo]) VALUES (N'KG000     ', N'Thuy', N'0977583016', N'206067914', N'Xù', 2, CAST(0xA53D0B00 AS Date), CAST(0xA53D0B00 AS Date), N'500000    ', N'NV00      ', N'CHUONG16  ', N'Phòng 6 bệnh, phòng dại, sổ theo dõi sức khỏe định kỳ.')
INSERT [dbo].[ThongTinKyGoi] ([MaThongTinKyGui], [TenChu], [LienHe], [CMND], [TenThuCung], [SoLuong], [NgayGoi], [NgayTra], [GiaComBo], [MaNhanVien], [TenChuong], [GiayTo]) VALUES (N'KG001     ', N'Cường', N'01688759528', N'20606548', N'Lu-Bi', 2, CAST(0xA53D0B00 AS Date), CAST(0xAC3D0B00 AS Date), N'2000000   ', N'NV00      ', N'CHUONG08  ', N'Ð?y d?    ')
INSERT [dbo].[ThongTinKyGoi] ([MaThongTinKyGui], [TenChu], [LienHe], [CMND], [TenThuCung], [SoLuong], [NgayGoi], [NgayTra], [GiaComBo], [MaNhanVien], [TenChuong], [GiayTo]) VALUES (N'KG003     ', N'Hoàng Hoài Châu', N'0158759665', N'525566684', N'Mixa-Liz-Pi', 3, CAST(0xA53D0B00 AS Date), CAST(0xA53D0B00 AS Date), N'580000    ', N'NV00      ', N'CHUONG13  ', N'abc       ')
/****** Object:  Table [dbo].[ThanhToanKyGoi]    Script Date: 09/21/2019 11:46:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhToanKyGoi](
	[MaThanhToanKG] [nchar](10) NOT NULL,
	[ThanhTien] [float] NOT NULL,
	[MaNhanVien] [nchar](10) NOT NULL,
	[TienPhat] [float] NULL,
	[GiaComBoTT] [nchar](10) NOT NULL,
	[NgayLap] [date] NOT NULL,
	[MaChuong] [nchar](10) NOT NULL,
	[MaThongTinKyGoi] [nchar](10) NOT NULL,
	[MaNVThanhToan] [nchar](10) NOT NULL,
 CONSTRAINT [PK_ThanhToanKyGoi] PRIMARY KEY CLUSTERED 
(
	[MaThanhToanKG] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ThanhToanKyGoi] ([MaThanhToanKG], [ThanhTien], [MaNhanVien], [TienPhat], [GiaComBoTT], [NgayLap], [MaChuong], [MaThongTinKyGoi], [MaNVThanhToan]) VALUES (N'HDKG000   ', 400000, N'          ', 0, N'400000    ', CAST(0xA43D0B00 AS Date), N'CHUONG04  ', N'          ', N'NV00      ')
INSERT [dbo].[ThanhToanKyGoi] ([MaThanhToanKG], [ThanhTien], [MaNhanVien], [TienPhat], [GiaComBoTT], [NgayLap], [MaChuong], [MaThongTinKyGoi], [MaNVThanhToan]) VALUES (N'HDKG001   ', 2136665, N'          ', 25554, N'2111111   ', CAST(0xA53D0B00 AS Date), N'CHUONG09  ', N'          ', N'NV00      ')
INSERT [dbo].[ThanhToanKyGoi] ([MaThanhToanKG], [ThanhTien], [MaNhanVien], [TienPhat], [GiaComBoTT], [NgayLap], [MaChuong], [MaThongTinKyGoi], [MaNVThanhToan]) VALUES (N'HDKG002   ', 444444, N'          ', 0, N'444444    ', CAST(0xA53D0B00 AS Date), N'CHUONG02  ', N'KG000     ', N'NV00      ')
/****** Object:  Table [dbo].[NhapKho]    Script Date: 09/21/2019 11:46:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhapKho](
	[MaNhap] [nchar](10) NOT NULL,
	[MaNhaCungCap] [nchar](10) NOT NULL,
	[NgayNhap] [date] NOT NULL,
 CONSTRAINT [PK_NhapKho] PRIMARY KEY CLUSTERED 
(
	[MaNhap] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[NhapKho] ([MaNhap], [MaNhaCungCap], [NgayNhap]) VALUES (N'MN0000    ', N'NCC0002   ', CAST(0xA23D0B00 AS Date))
INSERT [dbo].[NhapKho] ([MaNhap], [MaNhaCungCap], [NgayNhap]) VALUES (N'MN0001    ', N'NCC0001   ', CAST(0xA23D0B00 AS Date))
INSERT [dbo].[NhapKho] ([MaNhap], [MaNhaCungCap], [NgayNhap]) VALUES (N'MN0002    ', N'NCC0003   ', CAST(0xA73D0B00 AS Date))
/****** Object:  Table [dbo].[ChiTietNhapKho]    Script Date: 09/21/2019 11:46:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietNhapKho](
	[MaChiTietNhap] [nchar](10) NOT NULL,
	[GoiHang] [nvarchar](50) NOT NULL,
	[MaNhap] [nchar](10) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[GiaNhap] [float] NOT NULL,
 CONSTRAINT [PK_ChiTietNhapKho] PRIMARY KEY CLUSTERED 
(
	[MaChiTietNhap] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiTietNhapKho] ([MaChiTietNhap], [GoiHang], [MaNhap], [SoLuong], [GiaNhap]) VALUES (N'CTN0000   ', N'Thức ăn - Sửa tắm', N'MN0000    ', 2, 5000000)
INSERT [dbo].[ChiTietNhapKho] ([MaChiTietNhap], [GoiHang], [MaNhap], [SoLuong], [GiaNhap]) VALUES (N'CTN0001   ', N'Thức ăn - Vật phẩm - Phụ kiện', N'MN0001    ', 4, 45000000)
INSERT [dbo].[ChiTietNhapKho] ([MaChiTietNhap], [GoiHang], [MaNhap], [SoLuong], [GiaNhap]) VALUES (N'CTN0002   ', N'Chuồng nuôi', N'MN0002    ', 1, 12000000)
/****** Object:  Table [dbo].[HangHoa]    Script Date: 09/21/2019 11:46:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangHoa](
	[MaHang] [nchar](10) NOT NULL,
	[TenHang] [nvarchar](50) NOT NULL,
	[DonVi] [nchar](10) NOT NULL,
	[LoaiHang] [nvarchar](50) NOT NULL,
	[MaChiTietNhap] [nchar](10) NOT NULL,
	[GiaBan] [float] NOT NULL,
	[SoLuongHang] [bigint] NULL,
 CONSTRAINT [PK_HangHoa] PRIMARY KEY CLUSTERED 
(
	[MaHang] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[HangHoa] ([MaHang], [TenHang], [DonVi], [LoaiHang], [MaChiTietNhap], [GiaBan], [SoLuongHang]) VALUES (N'MH0000    ', N'ANF Minio Baby - Thức ăn hạt tổng hợp chó nhỏ 800g', N'Gói       ', N'Thức ăn chó nhỏ', N'CTN0000   ', 240000, 0)
INSERT [dbo].[HangHoa] ([MaHang], [TenHang], [DonVi], [LoaiHang], [MaChiTietNhap], [GiaBan], [SoLuongHang]) VALUES (N'MH0001    ', N'Wonder Cats - Thức ăn cho mèo', N'Gói       ', N'Thức ăn', N'CTN0000   ', 400000, 498)
INSERT [dbo].[HangHoa] ([MaHang], [TenHang], [DonVi], [LoaiHang], [MaChiTietNhap], [GiaBan], [SoLuongHang]) VALUES (N'MH0002    ', N'Cesar 100g', N'gói       ', N'Thức ăn khô', N'CTN0000   ', 500000, 44)
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 09/21/2019 11:46:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaChiTietHoaDon] [nchar](10) NOT NULL,
	[MaBanHang] [nchar](10) NOT NULL,
	[MaHang] [nchar](10) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[GiaBan] [float] NOT NULL,
	[ThanhTien] [float] NOT NULL,
	[TenHang] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ChiTietHoaDon] PRIMARY KEY CLUSTERED 
(
	[MaChiTietHoaDon] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiTietHoaDon] ([MaChiTietHoaDon], [MaBanHang], [MaHang], [SoLuong], [GiaBan], [ThanhTien], [TenHang]) VALUES (N'00        ', N'PMH0000   ', N'MH0002    ', 200, 500000, 100000000, N'Cesar 100g')
INSERT [dbo].[ChiTietHoaDon] ([MaChiTietHoaDon], [MaBanHang], [MaHang], [SoLuong], [GiaBan], [ThanhTien], [TenHang]) VALUES (N'01        ', N'PMH0000   ', N'MH0005    ', 5, 184000, 920000, N'Xịt vệ sinh khử mùi')
INSERT [dbo].[ChiTietHoaDon] ([MaChiTietHoaDon], [MaBanHang], [MaHang], [SoLuong], [GiaBan], [ThanhTien], [TenHang]) VALUES (N'010       ', N'PMH0000   ', N'MH0002    ', 1, 500000, 500000, N'Cesar 100g')
/****** Object:  ForeignKey [FK_BanHangCombo_KhachHang1]    Script Date: 09/21/2019 11:46:41 ******/
ALTER TABLE [dbo].[BanHangCombo]  WITH CHECK ADD  CONSTRAINT [FK_BanHangCombo_KhachHang1] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BanHangCombo] CHECK CONSTRAINT [FK_BanHangCombo_KhachHang1]
GO
/****** Object:  ForeignKey [FK_BanHangCombo_NhanVien]    Script Date: 09/21/2019 11:46:41 ******/
ALTER TABLE [dbo].[BanHangCombo]  WITH CHECK ADD  CONSTRAINT [FK_BanHangCombo_NhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BanHangCombo] CHECK CONSTRAINT [FK_BanHangCombo_NhanVien]
GO
/****** Object:  ForeignKey [FK_ChiTietHoaDon_BanHangCombo1]    Script Date: 09/21/2019 11:46:42 ******/
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_BanHangCombo1] FOREIGN KEY([MaBanHang])
REFERENCES [dbo].[BanHangCombo] ([MaBanHang])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_BanHangCombo1]
GO
/****** Object:  ForeignKey [FK_ChiTietHoaDon_HangHoa1]    Script Date: 09/21/2019 11:46:42 ******/
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_HangHoa1] FOREIGN KEY([MaHang])
REFERENCES [dbo].[HangHoa] ([MaHang])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_HangHoa1]
GO
/****** Object:  ForeignKey [FK_ChiTietNhapKho_NhapKho]    Script Date: 09/21/2019 11:46:42 ******/
ALTER TABLE [dbo].[ChiTietNhapKho]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietNhapKho_NhapKho] FOREIGN KEY([MaNhap])
REFERENCES [dbo].[NhapKho] ([MaNhap])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietNhapKho] CHECK CONSTRAINT [FK_ChiTietNhapKho_NhapKho]
GO
/****** Object:  ForeignKey [FK_HangHoa_ChiTietNhapKho1]    Script Date: 09/21/2019 11:46:42 ******/
ALTER TABLE [dbo].[HangHoa]  WITH CHECK ADD  CONSTRAINT [FK_HangHoa_ChiTietNhapKho1] FOREIGN KEY([MaChiTietNhap])
REFERENCES [dbo].[ChiTietNhapKho] ([MaChiTietNhap])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HangHoa] CHECK CONSTRAINT [FK_HangHoa_ChiTietNhapKho1]
GO
/****** Object:  ForeignKey [FK_NhapKho_NhaCungCap1]    Script Date: 09/21/2019 11:46:42 ******/
ALTER TABLE [dbo].[NhapKho]  WITH CHECK ADD  CONSTRAINT [FK_NhapKho_NhaCungCap1] FOREIGN KEY([MaNhaCungCap])
REFERENCES [dbo].[NhaCungCap] ([MaNhaCungCap])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NhapKho] CHECK CONSTRAINT [FK_NhapKho_NhaCungCap1]
GO
/****** Object:  ForeignKey [FK_ThanhToanKyGoi_ChuongKyGoi]    Script Date: 09/21/2019 11:46:42 ******/
ALTER TABLE [dbo].[ThanhToanKyGoi]  WITH CHECK ADD  CONSTRAINT [FK_ThanhToanKyGoi_ChuongKyGoi] FOREIGN KEY([MaChuong])
REFERENCES [dbo].[ChuongKyGoi] ([MaChuong])
GO
ALTER TABLE [dbo].[ThanhToanKyGoi] CHECK CONSTRAINT [FK_ThanhToanKyGoi_ChuongKyGoi]
GO
/****** Object:  ForeignKey [FK_ThongTinKyGoi_NhanVien]    Script Date: 09/21/2019 11:46:42 ******/
ALTER TABLE [dbo].[ThongTinKyGoi]  WITH CHECK ADD  CONSTRAINT [FK_ThongTinKyGoi_NhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[ThongTinKyGoi] CHECK CONSTRAINT [FK_ThongTinKyGoi_NhanVien]
GO
