USE [master]
GO
/****** Object:  Database [ShopChoMeo]    Script Date: 7/19/2020 1:06:49 PM ******/
CREATE DATABASE [ShopChoMeo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ShopChoMeo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ShopChoMeo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ShopChoMeo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ShopChoMeo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ShopChoMeo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ShopChoMeo]
GO
/****** Object:  Table [dbo].[BanHangCombo]    Script Date: 7/19/2020 1:06:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BanHangCombo](
	[MaBanHang] [nvarchar](50) NOT NULL,
	[NgayBanHang] [date] NOT NULL,
	[MaKhachHang] [nvarchar](50) NOT NULL,
	[MaNhanVien] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_BanHangCombo] PRIMARY KEY CLUSTERED 
(
	[MaBanHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChamCong]    Script Date: 7/19/2020 1:06:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChamCong](
	[MaChamCong] [nvarchar](50) NOT NULL,
	[MaNhanVien] [nvarchar](50) NOT NULL,
	[TenNhanVien] [nvarchar](50) NOT NULL,
	[Thang] [nchar](10) NOT NULL,
	[Nam] [nchar](10) NOT NULL,
	[TangCa] [int] NOT NULL,
	[NghiLam] [int] NOT NULL,
	[LuongCung] [float] NOT NULL,
	[LuongNhan] [float] NOT NULL,
	[TienThuong] [float] NULL,
	[TienPhat] [float] NULL,
 CONSTRAINT [PK_ChamCong] PRIMARY KEY CLUSTERED 
(
	[MaChamCong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 7/19/2020 1:06:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaChiTietHoaDon] [nvarchar](50) NOT NULL,
	[MaBanHang] [nvarchar](50) NOT NULL,
	[MaHang] [nvarchar](50) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[GiaBan] [float] NOT NULL,
	[ThanhTien] [float] NOT NULL,
	[TenHang] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ChiTietHoaDon] PRIMARY KEY CLUSTERED 
(
	[MaChiTietHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietNhapKho]    Script Date: 7/19/2020 1:06:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietNhapKho](
	[MaChiTietNhap] [nvarchar](50) NOT NULL,
	[GoiHang] [nvarchar](50) NOT NULL,
	[MaNhap] [nvarchar](50) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[GiaNhap] [float] NOT NULL,
 CONSTRAINT [PK_ChiTietNhapKho] PRIMARY KEY CLUSTERED 
(
	[MaChiTietNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChuongKyGoi]    Script Date: 7/19/2020 1:06:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuongKyGoi](
	[MaChuong] [nvarchar](50) NOT NULL,
	[TenChuong] [nvarchar](50) NOT NULL,
	[TrangThai] [int] NOT NULL,
 CONSTRAINT [PK_KyGoi] PRIMARY KEY CLUSTERED 
(
	[MaChuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DangNhap]    Script Date: 7/19/2020 1:06:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangNhap](
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](50) NOT NULL,
	[LoaiTaiKhoan] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DangNhap] PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HangHoa]    Script Date: 7/19/2020 1:06:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangHoa](
	[MaHang] [nvarchar](50) NOT NULL,
	[TenHang] [nvarchar](50) NOT NULL,
	[DonVi] [nvarchar](50) NOT NULL,
	[LoaiHang] [nvarchar](50) NOT NULL,
	[MaChiTietNhap] [nvarchar](50) NOT NULL,
	[GiaBan] [float] NOT NULL,
	[SoLuongHang] [bigint] NULL,
 CONSTRAINT [PK_HangHoa] PRIMARY KEY CLUSTERED 
(
	[MaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HinhNen]    Script Date: 7/19/2020 1:06:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HinhNen](
	[TenHinh] [nchar](10) NOT NULL,
	[HinhAnh] [image] NOT NULL,
 CONSTRAINT [PK_HinhNen] PRIMARY KEY CLUSTERED 
(
	[TenHinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 7/19/2020 1:06:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKhachHang] [nvarchar](50) NOT NULL,
	[LienHe] [nvarchar](100) NULL,
	[TenDonVi] [nvarchar](100) NULL,
	[TheThanhVien] [nvarchar](50) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 7/19/2020 1:06:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNhaCungCap] [nvarchar](50) NOT NULL,
	[TenNhaCungCap] [nvarchar](100) NOT NULL,
	[DiaChi] [nvarchar](100) NOT NULL,
	[LienHe] [nvarchar](100) NOT NULL,
	[SoTaiKhoan] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_NhaCungCap] PRIMARY KEY CLUSTERED 
(
	[MaNhaCungCap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 7/19/2020 1:06:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNhanVien] [nvarchar](50) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[CMND] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[SDT] [nvarchar](50) NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhapKho]    Script Date: 7/19/2020 1:06:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhapKho](
	[MaNhap] [nvarchar](50) NOT NULL,
	[MaNhaCungCap] [nvarchar](50) NOT NULL,
	[NgayNhap] [date] NOT NULL,
 CONSTRAINT [PK_NhapKho] PRIMARY KEY CLUSTERED 
(
	[MaNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThanhToanKyGoi]    Script Date: 7/19/2020 1:06:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhToanKyGoi](
	[MaThanhToanKG] [nvarchar](50) NOT NULL,
	[ThanhTien] [float] NOT NULL,
	[MaNhanVien] [nvarchar](50) NOT NULL,
	[TienPhat] [float] NULL,
	[GiaComBoTT] [nvarchar](50) NOT NULL,
	[NgayLap] [date] NOT NULL,
	[MaChuong] [nvarchar](50) NOT NULL,
	[MaThongTinKyGoi] [nvarchar](50) NOT NULL,
	[MaNVThanhToan] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ThanhToanKyGoi] PRIMARY KEY CLUSTERED 
(
	[MaThanhToanKG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongTinKyGoi]    Script Date: 7/19/2020 1:06:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongTinKyGoi](
	[MaThongTinKyGui] [nvarchar](50) NOT NULL,
	[TenChu] [nvarchar](50) NOT NULL,
	[LienHe] [nvarchar](100) NOT NULL,
	[CMND] [nvarchar](50) NOT NULL,
	[TenThuCung] [nvarchar](50) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[NgayGoi] [date] NOT NULL,
	[NgayTra] [date] NOT NULL,
	[GiaComBo] [nvarchar](50) NOT NULL,
	[MaNhanVien] [nvarchar](50) NOT NULL,
	[TenChuong] [nvarchar](50) NOT NULL,
	[GiayTo] [nvarchar](100) NULL,
 CONSTRAINT [PK_ThongTinKyGoi] PRIMARY KEY CLUSTERED 
(
	[MaThongTinKyGui] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BanHangCombo] ([MaBanHang], [NgayBanHang], [MaKhachHang], [MaNhanVien]) VALUES (N'PMH0000', CAST(N'2020-10-07' AS Date), N'KH000', N'NV00')
INSERT [dbo].[BanHangCombo] ([MaBanHang], [NgayBanHang], [MaKhachHang], [MaNhanVien]) VALUES (N'PMH0001', CAST(N'2020-07-16' AS Date), N'KH000', N'NV00')
INSERT [dbo].[BanHangCombo] ([MaBanHang], [NgayBanHang], [MaKhachHang], [MaNhanVien]) VALUES (N'PMH0002', CAST(N'2020-07-16' AS Date), N'KH000', N'NV00')
GO
INSERT [dbo].[ChamCong] ([MaChamCong], [MaNhanVien], [TenNhanVien], [Thang], [Nam], [TangCa], [NghiLam], [LuongCung], [LuongNhan], [TienThuong], [TienPhat]) VALUES (N'LNV0      ', N'NV01      ', N'Lý Vinh Cuong', N'12        ', N'2017      ', 2, 0, 1500000, 1650000, 200000, 50000)
INSERT [dbo].[ChamCong] ([MaChamCong], [MaNhanVien], [TenNhanVien], [Thang], [Nam], [TangCa], [NghiLam], [LuongCung], [LuongNhan], [TienThuong], [TienPhat]) VALUES (N'LNV1      ', N'NV01      ', N'Lý Vĩnh Cương', N'12        ', N'2017      ', 2, 4, 1000000, 1010000, 20000, 10000)
INSERT [dbo].[ChamCong] ([MaChamCong], [MaNhanVien], [TenNhanVien], [Thang], [Nam], [TangCa], [NghiLam], [LuongCung], [LuongNhan], [TienThuong], [TienPhat]) VALUES (N'LNV2      ', N'NV00      ', N'Hoàng Văn Thùy', N'10        ', N'2017      ', 2, 1, 1500000, 1530000, 50000, 20000)
GO
INSERT [dbo].[ChiTietHoaDon] ([MaChiTietHoaDon], [MaBanHang], [MaHang], [SoLuong], [GiaBan], [ThanhTien], [TenHang]) VALUES (N'00', N'PMH0001', N'MH0007', 1, 312000, 312000, N'Vòng cổ Ferplast Ergoflex (xám)')
INSERT [dbo].[ChiTietHoaDon] ([MaChiTietHoaDon], [MaBanHang], [MaHang], [SoLuong], [GiaBan], [ThanhTien], [TenHang]) VALUES (N'01', N'PMH0002', N'MH0007', 1, 312000, 312000, N'Vòng cổ Ferplast Ergoflex (xám)')
INSERT [dbo].[ChiTietHoaDon] ([MaChiTietHoaDon], [MaBanHang], [MaHang], [SoLuong], [GiaBan], [ThanhTien], [TenHang]) VALUES (N'010', N'PMH0006', N'MH0006', 1, 167000, 167000, N'Vệ sinh khử trùng Simbae')
GO
INSERT [dbo].[ChiTietNhapKho] ([MaChiTietNhap], [GoiHang], [MaNhap], [SoLuong], [GiaNhap]) VALUES (N'CTN0000   ', N'Thức ăn - Sửa tắm', N'MN0000    ', 2, 5000000)
INSERT [dbo].[ChiTietNhapKho] ([MaChiTietNhap], [GoiHang], [MaNhap], [SoLuong], [GiaNhap]) VALUES (N'CTN0001   ', N'Thức ăn - Vật phẩm - Phụ kiện', N'MN0001    ', 4, 45000000)
INSERT [dbo].[ChiTietNhapKho] ([MaChiTietNhap], [GoiHang], [MaNhap], [SoLuong], [GiaNhap]) VALUES (N'CTN0002   ', N'Chuồng nuôi', N'MN0002    ', 1, 12000000)
GO
INSERT [dbo].[ChuongKyGoi] ([MaChuong], [TenChuong], [TrangThai]) VALUES (N'CHUONG01', N'Chuồng 01', 1)
INSERT [dbo].[ChuongKyGoi] ([MaChuong], [TenChuong], [TrangThai]) VALUES (N'CHUONG02', N'Chuồng 02', 0)
INSERT [dbo].[ChuongKyGoi] ([MaChuong], [TenChuong], [TrangThai]) VALUES (N'CHUONG03  ', N'Chuồng 03 ', 0)
GO
INSERT [dbo].[DangNhap] ([TenDangNhap], [MatKhau], [LoaiTaiKhoan]) VALUES (N'Admin', N'123', N'Admin')
INSERT [dbo].[DangNhap] ([TenDangNhap], [MatKhau], [LoaiTaiKhoan]) VALUES (N'T                             ', N'2                             ', N'Nhân viên ')
INSERT [dbo].[DangNhap] ([TenDangNhap], [MatKhau], [LoaiTaiKhoan]) VALUES (N'Thuy                          ', N'2                             ', N'Nhân viên ')
GO
INSERT [dbo].[HangHoa] ([MaHang], [TenHang], [DonVi], [LoaiHang], [MaChiTietNhap], [GiaBan], [SoLuongHang]) VALUES (N'MH0000', N'ANF Minio Baby - Thức ăn hạt tổng hợp chó nhỏ 800g', N'Gói', N'Thức ăn chó nhỏ', N'CTN0000', 240000, 0)
INSERT [dbo].[HangHoa] ([MaHang], [TenHang], [DonVi], [LoaiHang], [MaChiTietNhap], [GiaBan], [SoLuongHang]) VALUES (N'MH0001', N'Wonder Cats - Thức ăn cho mèo', N'Gói', N'Thức ăn', N'CTN0000', 400000, 499)
INSERT [dbo].[HangHoa] ([MaHang], [TenHang], [DonVi], [LoaiHang], [MaChiTietNhap], [GiaBan], [SoLuongHang]) VALUES (N'MH0002', N'Cesar 100g', N'gói', N'Thức ăn khô', N'CTN0000', 500000, 600)
GO
INSERT [dbo].[KhachHang] ([MaKhachHang], [LienHe], [TenDonVi], [TheThanhVien]) VALUES (N'KH000     ', N'Không có', N'Khách vãng lai', N'Thành viên')
INSERT [dbo].[KhachHang] ([MaKhachHang], [LienHe], [TenDonVi], [TheThanhVien]) VALUES (N'KH001     ', N'0166758254', N'Hoàng Phi Hồng', N'Thành viên')
INSERT [dbo].[KhachHang] ([MaKhachHang], [LienHe], [TenDonVi], [TheThanhVien]) VALUES (N'KH002     ', N'0167589245', N'Lý Liên Kiệt', N'Thành viên')
GO
INSERT [dbo].[NhaCungCap] ([MaNhaCungCap], [TenNhaCungCap], [DiaChi], [LienHe], [SoTaiKhoan]) VALUES (N'NCC0000   ', N'Trại chó TRẦN DANH', N'Ngã Tư Tân Quy,H. Củ Chi, TPHCM', N'0966.2525.13', N'0044 1923 0008')
INSERT [dbo].[NhaCungCap] ([MaNhaCungCap], [TenNhaCungCap], [DiaChi], [LienHe], [SoTaiKhoan]) VALUES (N'NCC0001   ', N'Fusion Group', N'An Khánh - Hoài Đức - Hà Nội', N'094.686.5620', N'711A 987654321')
INSERT [dbo].[NhaCungCap] ([MaNhaCungCap], [TenNhaCungCap], [DiaChi], [LienHe], [SoTaiKhoan]) VALUES (N'NCC0002   ', N'J&Pet', N'Villa D31 The Manor, Mễ Trì, Từ Liêm, Hà Nội', N'0944.555.881', N'0531 0022 2300 8')
GO
INSERT [dbo].[NhanVien] ([MaNhanVien], [HoTen], [CMND], [DiaChi], [SDT]) VALUES (N'NV00      ', N'Hoàng Văn Thùy', N'Tam Kỳ - Quảng Nôm', N'206067914', N'0977583016')
INSERT [dbo].[NhanVien] ([MaNhanVien], [HoTen], [CMND], [DiaChi], [SDT]) VALUES (N'NV01      ', N'Lý Vĩnh Cương', N'Tam Vinh', N'203588864', N'0977584628')
INSERT [dbo].[NhanVien] ([MaNhanVien], [HoTen], [CMND], [DiaChi], [SDT]) VALUES (N'NV02      ', N'Hoàng Hải Lý', N'Đài Châu - Quảng Đốc- An Nam', N'201385566', N'01644758355')
GO
INSERT [dbo].[NhapKho] ([MaNhap], [MaNhaCungCap], [NgayNhap]) VALUES (N'MN0000    ', N'NCC0002   ', CAST(N'2017-12-12' AS Date))
INSERT [dbo].[NhapKho] ([MaNhap], [MaNhaCungCap], [NgayNhap]) VALUES (N'MN0001    ', N'NCC0001   ', CAST(N'2017-12-12' AS Date))
INSERT [dbo].[NhapKho] ([MaNhap], [MaNhaCungCap], [NgayNhap]) VALUES (N'MN0002    ', N'NCC0003   ', CAST(N'2017-12-17' AS Date))
GO
INSERT [dbo].[ThanhToanKyGoi] ([MaThanhToanKG], [ThanhTien], [MaNhanVien], [TienPhat], [GiaComBoTT], [NgayLap], [MaChuong], [MaThongTinKyGoi], [MaNVThanhToan]) VALUES (N'HDKG000', 2332, N'', 1111, N'1221', CAST(N'2020-07-16' AS Date), N'CHUONG01', N'KG002', N'NV01')
INSERT [dbo].[ThanhToanKyGoi] ([MaThanhToanKG], [ThanhTien], [MaNhanVien], [TienPhat], [GiaComBoTT], [NgayLap], [MaChuong], [MaThongTinKyGoi], [MaNVThanhToan]) VALUES (N'HDKG001', 1010000, N'NV02', 10000, N'1000000', CAST(N'2020-07-17' AS Date), N'CHUONG02', N'KG001', N'NV01')
GO
INSERT [dbo].[ThongTinKyGoi] ([MaThongTinKyGui], [TenChu], [LienHe], [CMND], [TenThuCung], [SoLuong], [NgayGoi], [NgayTra], [GiaComBo], [MaNhanVien], [TenChuong], [GiayTo]) VALUES (N'KG000', N'Công', N'cong', N'12132132', N'cong', 1, CAST(N'2020-07-17' AS Date), CAST(N'2020-07-23' AS Date), N'1222', N'NV01', N'CHUONG01', N'Phòng 6 bệnh.')
GO
ALTER TABLE [dbo].[BanHangCombo]  WITH CHECK ADD  CONSTRAINT [FK_BanHangCombo_KhachHang1] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BanHangCombo] CHECK CONSTRAINT [FK_BanHangCombo_KhachHang1]
GO
ALTER TABLE [dbo].[BanHangCombo]  WITH CHECK ADD  CONSTRAINT [FK_BanHangCombo_NhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BanHangCombo] CHECK CONSTRAINT [FK_BanHangCombo_NhanVien]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_BanHangCombo1] FOREIGN KEY([MaBanHang])
REFERENCES [dbo].[BanHangCombo] ([MaBanHang])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_BanHangCombo1]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_HangHoa1] FOREIGN KEY([MaHang])
REFERENCES [dbo].[HangHoa] ([MaHang])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_HangHoa1]
GO
ALTER TABLE [dbo].[ChiTietNhapKho]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietNhapKho_NhapKho] FOREIGN KEY([MaNhap])
REFERENCES [dbo].[NhapKho] ([MaNhap])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietNhapKho] CHECK CONSTRAINT [FK_ChiTietNhapKho_NhapKho]
GO
ALTER TABLE [dbo].[HangHoa]  WITH CHECK ADD  CONSTRAINT [FK_HangHoa_ChiTietNhapKho1] FOREIGN KEY([MaChiTietNhap])
REFERENCES [dbo].[ChiTietNhapKho] ([MaChiTietNhap])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HangHoa] CHECK CONSTRAINT [FK_HangHoa_ChiTietNhapKho1]
GO
ALTER TABLE [dbo].[NhapKho]  WITH CHECK ADD  CONSTRAINT [FK_NhapKho_NhaCungCap1] FOREIGN KEY([MaNhaCungCap])
REFERENCES [dbo].[NhaCungCap] ([MaNhaCungCap])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NhapKho] CHECK CONSTRAINT [FK_NhapKho_NhaCungCap1]
GO
ALTER TABLE [dbo].[ThanhToanKyGoi]  WITH CHECK ADD  CONSTRAINT [FK_ThanhToanKyGoi_ChuongKyGoi] FOREIGN KEY([MaChuong])
REFERENCES [dbo].[ChuongKyGoi] ([MaChuong])
GO
ALTER TABLE [dbo].[ThanhToanKyGoi] CHECK CONSTRAINT [FK_ThanhToanKyGoi_ChuongKyGoi]
GO
ALTER TABLE [dbo].[ThongTinKyGoi]  WITH CHECK ADD  CONSTRAINT [FK_ThongTinKyGoi_NhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[ThongTinKyGoi] CHECK CONSTRAINT [FK_ThongTinKyGoi_NhanVien]
GO
USE [master]
GO
